<div>
    <div class="modal-body">
        <div class="form-group">
            <input placeholder="{{'name' | translate}}" type="text" class="form-control"
                   name="$rootScope.name" id="field_name" ng-model="name">
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
        <div class="col-xs-3">
            <button type="button" class="btn btn-primary" ui-sref="user.recipe({name:name})" title="{{'create.recipe' | translate}}">
                <span class="glyphicon glyphicon-cutlery"></span>
            </button>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-primary" ng-click="user.schedule({name:name})" title="{{'create.schedule' | translate}}">
                <span class="glyphicon glyphicon-scale"></span>
            </button>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-primary" ng-click="user.event({name:name})" title="{{'create.event' | translate}}">
                <span class="glyphicon glyphicon-calendar"></span>
            </button>
        </div>
        <div class="col-xs-3">
            <button type="button" class="btn btn-primary" ng-click="user.competition({name:name})" title="{{'create.competition' | translate}}">
                <span class="glyphicon glyphicon-equalizer"></span>
            </button>
        </div>
        </div>
    </div>
</div>
