<div>
    <div class="row">
        <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
            <strong>Settings saved!</strong>
        </div>

        <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
            <strong>E-mail is already in use!</strong> Please choose another one.
        </div>

        <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
            <strong>An error has occurred!</strong> Settings could not be saved.
        </div>

        <h2>[<b>&#64;{{user.login}}</b>]</h2>
        <p>{{user.firstName}}</p>
        <p>{{user.biography}}</p>
    </div>
</div>
