<div class="thumbnail" style="background-color: #f5f5f5;">
    <div class="backgroundPicture" ng-style="backgroundStyle">
        <img ng-show="user.profilePicture"
            class="img-responsive img-circle profilePicture"
             data-ng-src="{{'data:image/*;base64,' + user.profilePicture}}"/>
    </div>
    <div class="row caption text-center user-description">

        <p><b>&#64;{{user.login}}</b></p>
        <p>{{user.firstName}}</p>
        <p>{{user.biography}}</p>
    </div>
</div>
