<div>
    <h2 translate="chefsApp.stepPicture.home.title">StepPictures</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="stepPicture.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="chefsApp.stepPicture.home.createLabel">Create a new StepPicture</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteStepPictureConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(stepPicture.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="chefsApp.stepPicture.delete.question" translate-values="{id: '{{stepPicture.id}}'}">Are you sure you want to delete this StepPicture?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="chefsApp.stepPicture.title">Title</th>
                    <th translate="chefsApp.stepPicture.src">Src</th>
                    <th translate="chefsApp.stepPicture.properties">Properties</th>
                    <th translate="chefsApp.stepPicture.step">step</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="stepPicture in stepPictures">
                    <td><a ui-sref="stepPicture.detail({id:stepPicture.id})">{{stepPicture.id}}</a></td>
                    <td>{{stepPicture.title}}</td>
                    <td>
                        <img data-ng-src="{{'data:image/*;base64,' + stepPicture.src}}" style="max-height: 30px;" ng-if="stepPicture.src"/> {{byteSize(stepPicture.src)}}
                    </td>
                    <td>{{stepPicture.properties}}</td>
                    <td>
                        <a ui-sref="step.detail({id:stepPicture.step.id})">{{stepPicture.step.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="stepPicture.detail({id:stepPicture.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="stepPicture.edit({id:stepPicture.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(stepPicture.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
