
<h3 translate="chefsApp.recipe.steps"></h3>
<datalist id="food_name">
    <option ng-repeat="food in listOfFoods" ng-value="food.name">
</datalist>
<div class="form-group">
<!-- Step -->
    <p><b style="margin: 5px;"><spam translate="global.menu.entities.step">Step</spam>:</b></p>
    <textarea class="form-control" name="step_section" id="step_section"
              ng-model="step.section" placeholder="{{'chefsApp.recipe.step' | translate}}..."></textarea>
    <div style="margin: 5px;">
        <button type="button" class="btn btn-default" ng-click="addImg(step)">
            <span class="glyphicon glyphicon-picture" />
        </button>
        <button type="button" class="btn btn-success pull-right" ng-click="addStep()">
            <span translate="entity.action.addstep">Add step</span>
        </button>
    </div>
    <!-- Ingredients -->
    <p><b style="margin: 5px;"><spam translate="global.menu.entities.ingredients">Ingredients</spam>:</b></p>
    <ul style="margin:0px; padding: 0px;">
        <li ng-repeat="ingredient in step.ingredients" class="row list-unstyled"  style="margin: 5px;">
            <div class="col-sm-6">
                <input class="form-control" list="food_name" ng-model="ingredient.food.name" ng-change="searchFood(ingredient)">
            </div>
            <div class="col-sm-2" style="padding: 0px;">
                <input class="form-control" ng-model="ingredient.amount" type="number">
            </div>
            <div class="col-sm-2" style="padding: 0px;">
                <select class="form-control" ng-model="ingredient.measurement">
                    <option value="g" translate="chefsApp.Measurement.g">g</option>
                    <option value="kg" translate="chefsApp.Measurement.kg">kg</option>
                    <option value="l" translate="chefsApp.Measurement.l">l</option>
                    <option value="ml" translate="chefsApp.Measurement.ml">ml</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input class="form-control" ng-model="ingredient.food.kcal" placeholder="Kcal">
            </div>
        </li>
    </ul>
    <div style="margin: 5px;">
        <button type="button" class="btn btn-default" ng-click="addIngredient(step)">
            <span class="glyphicon glyphicon-plus-sign" />
        </button>
    </div>
</div>
<!-- Pictures -->
<div ui-sortable="sortableOptions" ng-model="step.stepPicture">
    <div class="col-lg-12" ng-repeat="picture in s.stepPicture" style="margin-bottom: 20px;">
        <div class="col-lg-1">
            <p class="glyphicon glyphicon-remove" ng-click="deleteImg(s, $index)" style="color: red;"></p>
            <p class="glyphicon glyphicon-move"></p>
        </div>
        <div class="col-lg-11" ngf-drop ngf-change="setSrc($file, picture)" ngf-pattern="'image/*'">
            <div class="row">
                <div class="col-xs-1">
                    <div class="help-block clearfix">
                        <button ng-click="picture.src=null"
                                ng-if="picture.src"
                                class="btn btn-danger btn-xs pull-left">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-11">
                    <img class="img-responsive"
                         data-ng-src="{{'data:image/*;base64,' + picture.src}}"
                         ng-if="picture.src"/>
                    <input class="form-control" type="text" ng-model="picture.title" ng-if="picture.src"
                           style="margin-top:10px;" placeholder="{{'entity.title' | translate}}...">
                </div>
            </div>
            <button ng-if="!picture.src" type="file" ngf-select class="btn btn-primary btn-block"
                    ngf-change="setSrc($file, picture)" accept="image/*" translate="entity.action.addordropimage">
            </button>
            <input type="hidden" class="form-control"
                   ng-model="picture.src">
        </div>
    </div>
</div>
<!-- Fin Picture -->

<!-- List of Steps-->

<!-- Steps -->
<div ui-sortable="sortableOptions" ng-model="recipe.steps">
    <div ng-repeat="s in recipe.steps" style="margin-top: 20px;">
        <hr ng-show="$index!=0" style="border-color: #5f5f5f;">
        <div class="row">
            <div class="col-sm-1">
                <p class="glyphicon glyphicon-remove" ng-click="deleteStep($index)" style="color: red;"></p>
                <p class="glyphicon glyphicon-move"></p>
            </div>
            <div class="col-sm-11">
                <input type="hidden" ng-init="s.position=$index">
                <textarea class="form-control"
                          ng-model="s.section"/>
                <div style="margin: 5px;">
                    <button type="button" class="btn btn-default" ng-click="addImg(s)">
                        <span class="glyphicon glyphicon-picture" />
                    </button>
                </div>
                <!-- Ingredients -->
                <p><b style="margin: 5px;"><spam translate="global.menu.entities.ingredients">Ingredients</spam>:</b></p>
                <ul style="margin:0px; padding: 0px;">
                    <li ng-repeat="ingredient in s.ingredients" class="row list-unstyled"  style="margin: 5px;">
                        <div class="col-sm-6">
                            <input class="form-control" list="food_name" ng-model="ingredient.food.name" ng-change="searchFood(ingredient)">
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <input class="form-control" ng-model="ingredient.amount" type="number">
                        </div>
                        <div class="col-sm-2" style="padding: 0px;">
                            <select class="form-control" ng-model="ingredient.measurement">
                                <option value="g" translate="chefsApp.Measurement.g">g</option>
                                <option value="kg" translate="chefsApp.Measurement.kg">kg</option>
                                <option value="l" translate="chefsApp.Measurement.l">l</option>
                                <option value="ml" translate="chefsApp.Measurement.ml">ml</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" ng-model="ingredient.food.kcal" placeholder="Kcal">
                        </div>
                    </li>
                </ul>
                <div style="margin: 5px;">
                    <button type="button" class="btn btn-default" ng-click="addIngredient(s)">
                        <span class="glyphicon glyphicon-plus-sign" />
                    </button>
                </div>
            </div>
<!-- Pictures -->
            <div ui-sortable="sortableOptions" ng-model="s.stepPicture">
                <div class="col-lg-12" ng-repeat="picture in s.stepPicture" style="margin-bottom: 20px;">
                    <div class="col-lg-1">
                        <p class="glyphicon glyphicon-remove" ng-click="deleteImg(s, $index)" style="color: red;"></p>
                        <p class="glyphicon glyphicon-move"></p>
                    </div>
                    <div class="col-lg-11" ngf-drop ngf-change="setSrc($file, picture)" ngf-pattern="'image/*'">
                        <div class="row">
                            <div class="col-xs-1">
                                <div class="help-block clearfix">
                                    <button ng-click="picture.src=null"
                                            ng-if="picture.src"
                                            class="btn btn-danger btn-xs pull-left">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xs-11">
                                <img class="img-responsive"
                                     data-ng-src="{{'data:image/*;base64,' + picture.src}}"
                                     ng-if="picture.src"/>
                                <input class="form-control" type="text" ng-model="picture.title" ng-if="picture.src"
                                       style="margin-top:10px;" placeholder="{{'entity.title' | translate}}...">
                            </div>
                        </div>
                        <button ng-if="!picture.src" type="file" ngf-select class="btn btn-primary btn-block"
                                ngf-change="setSrc($file, picture)" accept="image/*" translate="entity.action.addordropimage">
                        </button>
                        <input type="hidden" class="form-control"
                               ng-model="picture.src">
                    </div>
                </div>
            </div>
<!-- Fin Picture -->

        </div>
    </div>
</div>
