<back-button></back-button>
<p></p>
<div infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page" class="row">
    <div ng-repeat="picture in pictures">
        <div class="clearfix" ng-if="$index % 3 == 0"><di></di></div>
        <div ng-class="picture.class" ng-show="picture.src" class="thumbnail" >
            <div ng-click="open($index);" data-toggle="modal" data-target="#picture-details">
                <img class="img-responsive"
                     data-ng-src="{{'data:image/*;base64,' + picture.src}}"/>
            </div>
        </div>
    </div>
</div>
