
<div>
    <h2>
        {{recipe.name}}
        <small ng-if="recipe.father.id">
            <span translate="entity.detail.createdfrom">Created from</span>
            <a  ui-sref="display_recipe({id:recipe.father.id})">{{recipe.father.name}}</a>
        </small>
    </h2>
    <div class="thumbnail" ng-if="recipe.socialEntity.socialPicture.src">
        <img class="img-responsive"
             data-ng-src="{{'data:image/*;base64,' + recipe.socialEntity.socialPicture.src}}"
             ng-if="recipe.socialEntity.socialPicture.src"/>
        <div class="caption" ng-if="recipe.socialEntity.socialPicture.title">
            <p class="text-center">{{recipe.socialEntity.socialPicture.title}}</p>
        </div>
    </div>

            <p>{{recipe.description}}</p>
    <h3 translate="chefsApp.recipe.steps"></h3>
    <div ng-repeat="step in recipe.steps">
        <h4><span translate="global.menu.entities.step">Step</span> {{$index + 1}}</h4>
        <p><span translate="global.menu.entities.ingredients">Ingredients</span>: </p>
        <ul>
            <li ng-repeat="ingredient in step.ingredients"> {{ingredient.food.name}} {{ingredient.amount}}{{ingredient.measurement}}</li>
        </ul>
        <p>{{step.section}}</p>
        <div ng-repeat="picture in step.stepPicture" class="thumbnail" ng-if="picture.src">
            <img class="img-responsive"
                 data-ng-src="{{'data:image/*;base64,' + picture.src}}"
                 ng-if="picture.src"/>
            <div class="caption" ng-if="picture.title">
                <p class="text-center">{{picture.title}}</p>
            </div>
        </div>
    </div>
    <div ng-if="recipe.advice">
        <h3><span translate="chefsApp.recipe.advice">Advice</span></h3>
        <p>{{recipe.advice}}</p>
    </div>
    <div ng-if="recipe.sugestedTime">
        <h3><span translate="chefsApp.recipe.sugestedTime"></span></h3>
        <p>{{recipe.sugestedTime}}</p>
    </div>
    <hr>
    <div ng-if="recipe.informationUrl">
        <p><b><span translate="chefsApp.recipe.informationUrl"></span>:</b> <a href="{{recipe.informationUrl}}">{{recipe.informationUrl}}</a></p>
    </div>
    <div>
        <p tags tags-list="recipe.socialEntity.tags"></p>
    </div>


    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
