<div>
    <jh-alert></jh-alert>

    <div infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
        <div ng-repeat="recipe in recipes| orderBy:'-updateDate'">
            <hr>
            <a ui-sref="display_recipe({id:recipe.id})" class="thumbnail">
            <div class="row">
                <div class="col-lg-3">
                    <img class="img-responsive"
                         data-ng-src="{{'data:image/*;base64,' + recipe.socialEntity.socialPicture.src}}"
                         ng-if="recipe.socialEntity.socialPicture.src"/>
                </div>
                <div class="col-lg-9">
                    <h3>{{recipe.name}}</h3>
                    <p>
                        <span translate="chefsApp.recipe.steps">Steps</span>: {{ recipe.steps.length }},
                        Likes: {{recipe.socialEntity.users.length}},
                        <span translate="chefsApp.recipe.comments">Comments</span>: {{ recipe.socialEntity.comments.length }},
                        <span translate="chefsApp.recipe.assessment">Assessment</span>: {{ ((recipe.socialEntity.sumRating / recipe.socialEntity.assessments.length) || 0).toFixed(1)  }}
                    </p>
                    <p>{{recipe.description}}</p>
                    <p tags tags-list="recipe.socialEntity.tags"></p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
