<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <!--<label translate="chefsApp.recipe.name" for="field_name">Name</label>-->
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="recipe.name" placeholder="{{'chefsApp.recipe.name' | translate}}..."
                    required>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <!-- Picture -->
        <div class="form-group" ngf-drop ngf-change="setSrc($file, recipe.socialEntity.socialPicture)" ngf-pattern="'image/*'">
            <div class="row">
                <div class="col-xs-1">
                    <div class="help-block clearfix">
                        <button ng-click="recipe.socialEntity.socialPicture.src=null"
                                ng-if="recipe.socialEntity.socialPicture.src"
                                class="btn btn-default btn-xs pull-left">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
                <div class="col-xs-11">
                    <img class="img-responsive"
                         data-ng-src="{{'data:image/*;base64,' + recipe.socialEntity.socialPicture.src}}"
                         ng-if="recipe.socialEntity.socialPicture.src"/>
                </div>

            </div>
            <button ng-if="!recipe.socialEntity.socialPicture.src" type="file" ngf-select class="btn btn-default btn-block"
                    ngf-change="setSrc($file, recipe.socialEntity.socialPicture)" accept="image/*" translate="entity.action.addordropimage">
            </button>
            <input type="hidden" class="form-control" name="src" id="field_src"
                   ng-model="recipe.socialEntity.socialPicture.src">
        </div>
        <div class="form-group">
            <!--<label translate="chefsApp.recipe.description" for="field_description">Description</label>-->
            <textarea class="form-control" name="description" id="field_description"
                    ng-model="recipe.description" placeholder="{{'chefsApp.recipe.description' | translate}}..."
                    required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>


        <div ng-include="'scripts/app/views/step/step-edit.html'"></div>

        <div class="form-group">
            <label translate="chefsApp.recipe.informationUrl" for="field_informationUrl">InformationUrl</label>
            <input type="text" class="form-control" name="informationUrl" id="field_informationUrl"
                    ng-model="recipe.informationUrl"
                    >
        </div>
        <div class="form-group">
            <label translate="chefsApp.recipe.advice" for="field_advice">Advice</label>
            <input type="text" class="form-control" name="advice" id="field_advice"
                    ng-model="recipe.advice"
                    >
        </div>
        <div class="form-group">
            <label translate="chefsApp.recipe.sugestedTime" for="field_sugestedTime">SugestedTime</label>
            <input type="text" class="form-control" name="sugestedTime" id="field_sugestedTime"
                    ng-model="recipe.sugestedTime"
                    >
        </div>
        <div class="form-group">
            <label translate="chefsApp.recipe.ingredientsInSteps" for="field_ingredientsInSteps">IngredientsInSteps</label>
            <input type="checkbox" class="form-control" name="ingredientsInSteps" id="field_ingredientsInSteps"
                    ng-model="recipe.ingredientsInSteps"
                    >
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
