<div>
    <h2 translate="chefsApp.recipe.home.title">Recipes</h2>
    <jh-alert></jh-alert>
    <div>
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="recipe.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="chefsApp.recipe.home.createLabel">Create a new Recipe</span>
                </button>
            </div>
        </div>
    </div>

    <div infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
        <div ng-repeat="recipe in recipes">
            <hr>
            <a ui-sref="recipe.detail({id:recipe.id})" class="thumbnail">
            <div class="row">
                <div class="col-lg-3">
                        <img src="{{recipe.socialEntity.socialPicture.url}}" class="img-responsive" />
                </div>
                <div class="col-lg-9">
                    <h3>{{recipe.name}}</h3>
                    <p>
                        <span translate="chefsApp.recipe.steps">Steps</span>: {{ recipe.steps.length }},
                        Likes: {{recipe.socialEntity.users.length}},
                        <span translate="chefsApp.recipe.comments">Comments</span>: {{ recipe.socialEntity.comments.length }},
                        <span translate="chefsApp.recipe.assessment">Assessment</span>: {{ (recipe.socialEntity.sumRating?recipe.socialEntity.sumRating:0 / recipe.socialEntity.assessments.length)  }}
                    </p>
                    <p>{{recipe.description}}</p>
                    <p><span ng-repeat="tag in recipe.socialEntity.tags">{{tag.name}}{{$last ? '' : ', '}}</span></p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
