
<div >
    <jh-alert-error></jh-alert-error>
    <back-button></back-button>
    <button class="btn btn-default" ng-if="userAccount.login==recipe.user.login" ui-sref="HomeRecipeEdit({id:recipe.id})">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
    <button class="btn btn-default" ng-if="userAccount.login != null &&
        userAccount.login!=recipe.user.login && recipe.socialEntity.publicInscription"
            ui-sref="HomeRecipeEdit({id:recipe.id})">
        <span class="glyphicon glyphicon-duplicate"></span>
    </button>
    <h2>
        {{recipe.name}}
        <div ng-if="recipe.socialEntity.id" style="display: inline-block;">
            <like social-entity-id="recipe.socialEntity.id"></like>
        </div>
    </h2>
    <h3 ng-if="recipe.father.id">
        <small>
            <span translate="entity.detail.createdfrom">Created from</span>:
            <span class="hand label label-warning"
                  ui-sref="ChefRecipeDisplay({id:recipe.father.id, login:recipe.father.user.login})">
                <span class="glyphicon glyphicon-cutlery"></span> {{recipe.father.name}}
            </span>
            <span style="margin:5px;"></span>
            <span class="label label-warning hand" ui-sref="ChefRecipes({login:recipe.father.user.login})">
                <span class="glyphicon glyphicon-user"></span> {{recipe.father.user.firstName}} (@{{recipe.father.user.login}})
            </span>
        </small>
    </h3>
    <div class="row">
        <div class="thumbnail col-sm-8" ng-if="recipe.socialEntity.socialPicture.src">
            <img class="img-responsive"
                 data-ng-src="{{'data:image/*;base64,' + recipe.socialEntity.socialPicture.src}}"
                 ng-if="recipe.socialEntity.socialPicture.src"/>
            <div class="caption" ng-if="recipe.socialEntity.socialPicture.title">
                <p class="text-center">{{recipe.socialEntity.socialPicture.title}}</p>
            </div>
        </div>
        <div class="col-sm-4">
            <h4 ng-if="ingredients.length>0"><span translate="global.menu.entities.ingredients">Ingredients</span>: </h4>
            <ul>
                <li ng-repeat="ingredient in ingredients"> {{ingredient.food.name}} {{ingredient.amount}}{{ingredient.measurement}}</li>
            </ul>
        </div>
    </div>


    <p>{{recipe.description}}</p>
    <h3 translate="chefsApp.recipe.steps"></h3>
    <div ng-repeat="step in recipe.steps | orderBy: '+position'">
        <h4><span translate="global.menu.entities.step">Step</span> {{$index + 1}}</h4>
        <p ng-if="step.ingredients.length>0"><span translate="global.menu.entities.ingredients">Ingredients</span>: </p>
        <ul>
            <li ng-repeat="ingredient in step.ingredients"> {{ingredient.food.name}} {{ingredient.amount}}{{ingredient.measurement}}</li>
        </ul>
        <p>{{step.section}}</p>
        <div ng-repeat="picture in step.stepPicture" class="thumbnail" ng-if="picture.src">
            <img class="img-responsive"
                 data-ng-src="{{'data:image/*;base64,' + picture.src}}"
                 ng-if="picture.src"/>
            <div class="caption" ng-if="picture.title">
                <p class="text-center">{{picture.title}}</p>
            </div>
        </div>
    </div>
    <div ng-if="recipe.advice">
        <h3><span translate="chefsApp.recipe.advice">Advice</span></h3>
        <p>{{recipe.advice}}</p>
    </div>
    <div ng-if="recipe.sugestedTime">
        <h3><span translate="chefsApp.recipe.sugestedTime"></span></h3>
        <p>{{recipe.sugestedTime}}</p>
    </div>
    <hr>
    <div ng-if="recipe.informationUrl">
        <p><b><span translate="chefsApp.recipe.informationUrl"></span>:</b> <a href="{{recipe.informationUrl}}">{{recipe.informationUrl}}</a></p>
    </div>
    <div>
        <p tags tags-list="recipe.socialEntity.tags"></p>
    </div>

    <div ng-if="recipe.socialEntity.id">
        <comments social-entity-id="recipe.socialEntity.id"></comments>
    </div>

    <back-button></back-button>
</div>
