<div>

    <div>
        <p>{{securityEntity.socialEntity.isPublic}}</p>
        <input name="checkbox-isPublic" type="checkbox" class="switch-button">
    </div>
    <div>
        <p>{{$root.securityEntity.socialEntity.publicInscription}}</p>
        <input name="checkbox-publicInscription" type="checkbox" class="switch-button">
    </div>
    <div>
        <p>{{securityEntity.socialEntity.blocked}}</p>
        <input name="checkbox-blocked" type="checkbox" class="switch-button">
    </div>
</div>
