<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <!-- User -->
    <div class="panel panel-info">
        <div class="panel-heading" ng-click="collapse = 'user'" ng-show="collapse != 'user'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-user margin-right"></span><b><span translate="chefsApp.info.user.menu"></span></b>
            </h1>
        </div>
        <div class="panel-heading" ng-click="collapse = ''" ng-show="collapse == 'user'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-user margin-right"></span><b><span translate="chefsApp.info.user.menu"></span></b>
            </h1>
        </div>
        <div uib-collapse="collapse!='user'" class="panel-collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
<!-- Recipe -->
    <div class="panel panel-info">
        <div class="panel-heading" ng-click="collapse = 'recipe'" ng-show="collapse != 'recipe'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-cutlery margin-right"></span><b><span translate="chefsApp.info.recipe.menu"></span></b>
            </h1>
        </div>
        <div class="panel-heading" ng-click="collapse = ''" ng-show="collapse == 'recipe'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-cutlery margin-right"></span><b><span translate="chefsApp.info.recipe.menu"></span></b>
            </h1>
        </div>
        <div uib-collapse="collapse!='recipe'" class="panel-collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
<!-- Schedule -->
    <div class="panel panel-info">
        <div class="panel-heading" ng-click="collapse = 'schedule'" ng-show="collapse != 'schedule'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-calendar margin-right"></span><b><span translate="chefsApp.info.schedule.menu"></span></b>
            </h1>
        </div>
        <div class="panel-heading" ng-click="collapse = ''" ng-show="collapse == 'schedule'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-calendar margin-right"></span><b><span translate="chefsApp.info.schedule.menu"></span></b>
            </h1>
        </div>
        <div uib-collapse="collapse!='schedule'" class="panel-collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
<!-- Activities -->
    <div class="panel panel-info">
        <div class="panel-heading" ng-click="collapse = 'activities'" ng-show="collapse != 'activities'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-time margin-right"></span><b><span translate="chefsApp.info.activities.menu"></span></b>
            </h1>
        </div>
        <div class="panel-heading" ng-click="collapse = ''" ng-show="collapse == 'activities'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-time margin-right"></span><b><span translate="chefsApp.info.activities.menu"></span></b>
            </h1>
        </div>
        <div uib-collapse="collapse!='activities'" class="panel-collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
<!-- Search -->
    <div class="panel panel-info">
        <div class="panel-heading" ng-click="collapse = 'search'" ng-show="collapse != 'search'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-search margin-right"></span><b><span translate="chefsApp.info.search.menu"></span></b>
            </h1>
        </div>
        <div class="panel-heading" ng-click="collapse = ''" ng-show="collapse == 'search'">
            <h1 class="panel-title">
                <span class="glyphicon glyphicon-search margin-right"></span><b><span translate="chefsApp.info.search.menu"></span></b>
            </h1>
        </div>
        <div uib-collapse="collapse!='search'" class="panel-collapse">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>
