<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
    <div class="modal-header">
        <back-button></back-button>
    </div>
    <div class="modal-body">

        <script type="text/ng-template" id="deleteScheduleConfirmation">
            <form name="deleteForm" ng-submit="confirmDelete()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="chefsApp.schedule.delete.question" translate-values="{id: '{{schedule.id}}'}">Are you sure you want to delete this Schedule?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </script>
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <!--<label translate="chefsApp.recipe.name" for="field_name">Name</label>-->
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="schedule.name" placeholder="{{'chefsApp.schedule.name' | translate}}..."
                   required>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <!--<label translate="chefsApp.recipe.description" for="field_description">Description</label>-->
            <textarea class="form-control" name="description" id="field_description"
                      ng-model="schedule.description" placeholder="{{'chefsApp.schedule.description' | translate}}..."
                      required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                   ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div ng-include="'scripts/app/views/menu/calendar-menu-edit.html'"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="window.history.back()" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
        <button type="button"
                ng-click="delete()"
                class="btn btn-danger"
                ng-if="schedule.id">
            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
        </button>
    </div>
</form>

