
<div>
    <back-button></back-button>
    <button class="btn btn-default" ui-sref="HomeSchedulesEdit({id:schedule.id})">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
    <p></p>
    <h2>
        {{schedule.name}}
    </h2>

    <h4>{{schedule.description}}</h4>
    <div>
        <span class="bottom-left hand" ng-click="switchView()">
            <span class="glyphicon glyphicon-th" ng-if="!isTable"></span>
            <span class="glyphicon glyphicon-th-list" ng-if="isTable"></span>
        </span>
        <button type="button" class="btn btn-danger pull-right" ng-click="getPDF()">
            <span class="glyphicon glyphicon-file"></span>
            <span translate="create.pdf">Create PDF</span>
        </button>
    </div>
    <p class="clearfix"></p>
    <div ng-include="'scripts/app/views/menu/calendar-menu-display.html'" id="schedule_table"></div>
</div>
