<div>
    <h2 translate="chefsApp.backgroundPicture.home.title">BackgroundPictures</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="backgroundPicture.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="chefsApp.backgroundPicture.home.createLabel">Create a new BackgroundPicture</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteBackgroundPictureConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(backgroundPicture.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="chefsApp.backgroundPicture.delete.question" translate-values="{id: '{{backgroundPicture.id}}'}">Are you sure you want to delete this BackgroundPicture?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="chefsApp.backgroundPicture.title">Title</th>
                    <th translate="chefsApp.backgroundPicture.url">Url</th>
                    <th translate="chefsApp.backgroundPicture.properties">Properties</th>
                    <th translate="chefsApp.backgroundPicture.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="backgroundPicture in backgroundPictures">
                    <td><a ui-sref="backgroundPicture.detail({id:backgroundPicture.id})">{{backgroundPicture.id}}</a></td>
                    <td>{{backgroundPicture.title}}</td>
                    <td>{{backgroundPicture.url}}</td>
                    <td>{{backgroundPicture.properties}}</td>
                    <td>
                        {{backgroundPicture.user.id}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="backgroundPicture.detail({id:backgroundPicture.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="backgroundPicture.edit({id:backgroundPicture.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(backgroundPicture.id)"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
