
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCommentLabel" translate="chefsApp.comment.home.createOrEditLabel">Create or edit a Comment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="comment.id" readonly>
        </div>
        <div class="form-group">
            <label translate="chefsApp.comment.creationMoment" for="field_creationMoment">CreationMoment</label>
            <input type="datetime-local" class="form-control" name="creationMoment" id="field_creationMoment"
                    ng-model="comment.creationMoment" ng-model-options="{timezone: 'UTC'}"
                    required>
            <div ng-show="editForm.creationMoment.$invalid">
                <p class="help-block"
                    ng-show="editForm.creationMoment.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.creationMoment.$error.datetimelocal" translate="entity.validation.datetimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="chefsApp.comment.body" for="field_body">Body</label>
            <input type="text" class="form-control" name="body" id="field_body"
                    ng-model="comment.body"
                    required>
            <div ng-show="editForm.body.$invalid">
                <p class="help-block"
                    ng-show="editForm.body.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="chefsApp.comment.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="comment.user" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="chefsApp.comment.socialEntity" for="field_socialEntity">socialEntity</label>
            <select class="form-control" id="field_socialEntity" name="socialEntity" ng-model="comment.socialEntity" ng-options="socialEntity as socialEntity.id for socialEntity in socialentitys track by socialEntity.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
