/* class */
.initial-wallpaper{
    background: url("../images/initial-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
.well:empty {
    visibility: hidden !important;
}

/* element */
footer {
    background-color: #f5f5f5;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align:center;
    border-top: 1px solid #888888;
    z-index: 51;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}
.profilePicture {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
.backgroundPicture {
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.user-description{
}

.b{
    font-weight: bold;
}
.menu{
    background-color: #F2F5A9;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 10px;
    min-height: 20px;
    padding: 5px;
}
.popover-example .popover {
    position: relative;
    display: block;
    margin: 20px;
}
.img-comments{
    max-width: 100px;
    display: inline-block;
}
.comment{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width:100%;
}
.glyphicon-like{
    color: #b33c38;
}
.search-link{
    color: #105cb6;
    font-weight: bold;
}
.search-link:hover{
    color: #ffffff;
    font-weight: bold;
}
.search-line{
    display:inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.label-custom{
    font-size: 90%;
}
.label-container{
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
}
time.icon {
    display: block;
    width: 100%;
    background-color: #fff;
    margin: 2em auto;
    border-radius: 0.6em;
    box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform: rotate(0deg) skewY(0deg);
    -webkit-transform-origin: 50% 10%;
    transform-origin: 50% 10%;
}

time.icon * {
    display: block;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

time.icon strong {
    padding: 0.4em 0;
    font-size: 1.5em;
    color: #fff;
    background-color: #fd9f1b;
    border-bottom: 1px dashed #f37302;
    box-shadow: 0 2px 0 #fd9f1b;
}

time.icon span{
    width: 100%;
    min-height: 5em;
    padding: 0.8em;
    color: #2f2f2f;
}
.div-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.div-disabled a{
    pointer-events: none;
    cursor: not-allowed !important;
}
