.initial-wallpaper{
    background: url("../images/initial-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div < .hide-parent{
    background: red;
}
