.initial-wallpaper{
    background: url("../images/initial-wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}
.well:empty {
    visibility: hidden !important;
}
#main-chefs{
    width: 100%;
}
#welcome{
    width: 98%;
}
footer {
    background-color: #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}
